{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Latest News</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-3 bg-info p-3 article">
                <small>{{ article.getDateTime() | format_datetime() }} <button class="btn btn-outline-light pull-right">politiica</button></small>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <small>{{ article.relation.email }}</small>
                <a href="/article/{{ article.slug }}">Read article</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
